.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
}

.avatar {
  margin-top: 0px;
  margin-right: 7px;
  position: relative;
}

.commentContainer {
  position: relative;
  background-color: light-dark(var(--mantine-color-gray-0), #0d1117);
  border: 1px solid light-dark(var(--mantine-color-gray-3), #30363d);
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  flex: 1;
}

.header {
  background-color: light-dark(var(--mantine-color-gray-1), #161b22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), #30363d);
  position: relative;
  border-radius: 6px 6px 0 0;
}

.header::before {
  z-index: 1;
  content: '';
  position: absolute;
  left: -9px;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 8px solid light-dark(var(--mantine-color-gray-3), #30363d);
}

.pointer {
  z-index: 2;
  position: absolute;
  left: -8px;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid light-dark(var(--mantine-color-gray-1), #161b22);
}

.username {
  color: light-dark(var(--mantine-color-dark-7), #c9d1d9);
  font-size: 14px;
}

.botTag {
  background-color: #238636;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
  margin-left: 4px;
}

.timestamp {
  color: light-dark(var(--mantine-color-gray-6), #8b949e);
  font-size: 14px;
}

.menu {
  color: light-dark(var(--mantine-color-gray-6), #8b949e);
  font-size: 18px;
  cursor: pointer;
}

.body {
  padding: 16px;
}

.ul {
  padding-left: 20px;
  margin: 8px 0;
}
