.headline {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(130px);
  font-weight: 900;
  letter-spacing: rem(-3px);
  margin-bottom: 32px;
  line-height: 1;
  position: relative;
  z-index: 3;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(80px);
    letter-spacing: rem(-2px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(48px);
    letter-spacing: rem(-1.5px);
  }
}

.title {
  font-size: rem(50px);
  margin-top: clamp(rem(60), 25vh, rem(300));
  margin-bottom: 40px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(40px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.git {
  font-weight: 900;
}

.bright {
  background: light-dark(var(--mantine-color-primary-6), var(--mantine-color-primary-6));
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-1));
  border-radius: var(--mantine-radius-lg);
  padding: 4px 12px;
  margin-left: 6px;
  position: relative;
  font-weight: 900;
  -webkit-text-stroke: 1.5px light-dark(var(--mantine-color-dark-8), var(--mantine-color-gray-9));
  border: 1.5px solid light-dark(var(--mantine-color-dark-8), var(--mantine-color-dark-5));
}

.subtitle {
  font-weight: 600;
  font-size: rem(28px);
  max-width: rem(700px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(24px);
    max-width: rem(600px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
    max-width: rem(500px);
  }
}

.installButton {
  transition: all 0.1s linear;
}

.installButton:hover {
  color: white !important;
  border-color: var(--mantine-color-primary-3) !important;
  background-color: var(--mantine-color-primary-7) !important;
}
