.githubButton {
  background-color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-9)) !important;
  color: light-dark(white, white);
}

.githubButton:hover {
  background-color: light-dark(
    var(--mantine-color-primary-8),
    var(--mantine-color-primary-8)
  ) !important;
  color: light-dark(white, white);
}
